.hz-vspace {
    height: 18px;
}

#map {
    width: 800px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
}

#violations-table-container {
    width: 800px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

#speed-chart {
    width: 800px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}
